@page "/"

    <PageTitle>Fathym - Getting Started</PageTitle>

    <Div Padding="Padding.Is2.OnMobile.Is5.OnFullHD" Margin="Margin.Is5.FromBottom">
        <DisplayHeading Size="DisplayHeadingSize.Is2" TextAlignment="TextAlignment.Center">
            Welcome to Fathym
        </DisplayHeading>

        <DisplayHeading Size="DisplayHeadingSize.Is4" TextAlignment="TextAlignment.Center">
            Getting Started Guide
        </DisplayHeading>

        <Div Padding="Padding.Is2.OnMobile.Is5.OnFullHD" Margin="Margin.Is5.FromBottom">
            <TutorialStep></TutorialStep>
        </Div>
    </Div>
