@inherits TutorialStepBase

<Row Gutter="(64, 32)" Margin="Margin.Is5.FromTop">
    <Column Class="details" ColumnSize="ColumnSize.Is12.OnMobile.Is5.OnFullHD"
            Flex="Flex.AlignItems.Center.JustifyContent.Center.OnMobile.JustifyContent.End.OnFullHD"
            TextAlignment="TextAlignment.End">
        <Text TextColor="TextColor.Default">
            Thank you for joining, this guided tour will show the various things you can do with Fathym.
            Showcasing a number of our different UIs.
        </Text>
    </Column>

    <Column ColumnSize="ColumnSize.Is12.OnMobile.Is6.OnFullHD.Is1.WithOffset.OnFullHD">
        <div class="action">
            <Card Margin="Margin.Is4.OnY">
                <CardBody>
                    <CardTitle Size="5">Card title</CardTitle>
                    <CardText>
                        Some quick example text to build on the card title and make up the bulk of the card's content.
                    </CardText>
                    <Button Color="Color.Primary">Button</Button>
                </CardBody>
            </Card>
        </div>
    </Column>
</Row>